body
{
    margin-left: 20px;
}

/* menu style */

.main_menu ul li
{
    list-style: none;
    display: inline;
    border: 1px solid;
    padding: 5px;
}

/* main body style */
.body_wrapper
{
    padding: 5px;
}
