{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="{% static 'items/style.css' %}" />
    {% block head %}{% endblock %}
    </head>
    <body>
    <div class="main_menu">
    <ul>
        <li><a href="{% url 'items:index' %}">Home</a></li>
        <li><a href="{% url 'items:add_item'%}">Add an Item</a></li>
        <li><a href="{% url 'items:add_category' %}">Add a Category</a></li>
        <li><a href="{% url 'items:add_location' %}">Add Location</a></li>
        <li><a href="{% url 'items:add_receipt' %}">Add Receipt</a></li>
        
    </ul>
    </div>
    <div class="body_wrapper">
    {% block content %}{% endblock %}
    </div>
    </body>
</html>
